[alias]
	ci = commit
	co = checkout
[color]
	ui = true
[core]
	autocrlf = input
	excludesfile = ~/.gitignore
	safecrlf = warn
[init]
	defaultBranch = master
[pull]
	ff = only
[push]
	default = upstream
[user]
	name = Yamagi
	email = yamagi@yamagi.org
